/*------------------------------------------------*/
/*-----------------[RESET]------------------------*/
/*------------------------------------------------*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

ol, ul { list-style: none; }

a { text-decoration: none; }

button { border: none; }

#dots_admin_wrapper a:focus { box-shadow: none; }

/*------------------------------------------------*/
/*------------------[TYPOGRAPHY]------------------*/
/*------------------------------------------------*/

body, p, button { font-family: 'Open Sans', sans-serif; font-size: 14px; font-weight: 400; color: #939AAA; line-height: 1.7em; }

h1, h2, h3, h4, h5, h6, button, .dots_admin_action_button a { line-height: 1.1em; padding-bottom: .5em; color: #373942; font-weight: 700; letter-spacing: .5px; text-transform: uppercase; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

h1 { font-size: 26px; }

h2 { font-size: 16px; }

h3 { font-size: 16px; }

h4 { font-size: 14px; }

h5 { font-size: 12px; }

h6 { font-size: 10px; }

.dots_admin_row h2 { margin-bottom: 10px; }

p { padding-bottom: 1.7em; }

p:last-of-type { padding-bottom: 0; }

.dots_admin_note span { letter-spacing: normal; text-transform: none; font-style: italic; display: inline-block; }

.dots_admin_note p, .dots_admin_note h2 { display: inline-block; }

.dots_admin_note h2 { margin-right: 5px; }

/*------------------------------------------------*/
/*-----------------[BASIC STYLES]-----------------*/
/*------------------------------------------------*/

#dots_admin_wrapper_outer input, #dots_admin_wrapper_outer select, #dots_admin_wrapper_outer textarea { border: none; -webkit-box-shadow: none; box-shadow: none; }

#dots_admin_wrapper_outer { padding: 30px 20px 20px 15px; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

#dots_admin_wrapper {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
	0 3px 1px -2px rgba(0, 0, 0, 0.2),
	0 1px 5px 0 rgba(0, 0, 0, 0.12);
	width: 100%;
	position: relative;
	min-height: 600px;
}

#dots_admin_wrapper .mdl-layout__content {
	background: white;
}

.mdl-grid {
	max-width: 89%;
}

.admin-row {
	padding-left: 87%;
	padding-bottom: 1%;
}
