/*------------------------------------------------*/
/*-----------------[RESET]------------------------*/
/*------------------------------------------------*/

/*html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

ol, ul { list-style: none; }

a { text-decoration: none; }

button { border: none; }

#dots_admin_wrapper a:focus { box-shadow: none; }*/

/*------------------------------------------------*/
/*------------------[TYPOGRAPHY]------------------*/
/*------------------------------------------------*/

/*body, p, button { font-family: 'Open Sans', sans-serif; font-size: 14px; font-weight: 400; color: #939AAA; line-height: 1.7em; }

h1, h2, h3, h4, h5, h6, button, .dots_admin_action_button a { line-height: 1.1em; padding-bottom: .5em; color: #373942; font-weight: 700; letter-spacing: .5px; text-transform: uppercase; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

h1 { font-size: 26px; }

h2 { font-size: 16px; }

h3 { font-size: 16px; }

h4 { font-size: 14px; }

h5 { font-size: 12px; }

h6 { font-size: 10px; }

.dots_admin_row h2 { margin-bottom: 10px; }

p { padding-bottom: 1.7em; }

p:last-of-type { padding-bottom: 0; }

.dots_admin_note span { letter-spacing: normal; text-transform: none; font-style: italic; display: inline-block; }

.dots_admin_note p, .dots_admin_note h2 { display: inline-block; }

.dots_admin_note h2 { margin-right: 5px; }*/

/*------------------------------------------------*/
/*-----------------[BASIC STYLES]-----------------*/
/*------------------------------------------------*/

@font-face {
	font-family: 'etbuilder';
	src: url('../../../../themes/Divi/includes/builder/fonts/etbuilder_v2_4.eot');
	src: url('../../../../themes/Divi/includes/builder/fonts/etbuilder_v2_4.eot?#iefix') format('embedded-opentype'),
	url('../../../../themes/Divi/includes/builder/fonts/etbuilder_v2_4.woff') format('woff'),
	url('../../../../themes/Divi/includes/builder/fonts/etbuilder_v2_4.ttf') format('truetype'),
	url('../../../../themes/Divi/includes/builder/fonts/etbuilder_v2_4.svg#etbuilder') format('svg');
	font-weight: normal;
	font-style: normal;
}

#dots_admin_wrapper {
	min-height: 600px;
}

#wpcontent {
	padding-left: 0px !important;
}

.mdl-layout__drawer {
	left: initial;
	right: 0;
	-webkit-transform: translateX(250px);
	-ms-transform: translateX(250px);
	transform: translateX(250px);

}

.mdl-layout__drawer-button {
	left: initial;
	right: 0;
}

.dots_pb_icon:before {
	font-family: 'etbuilder';
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 26px;
	position: relative;
	top: 5px;
	margin-right: 12px;
	color: #FFFFFF;
}

.mdl-card {
	margin: 0 auto;
}

.mdl-card__title {
	height: 72px;
	color: #FFFFFF;
}

.mdl-card__title.regular {
	background-color: #008BDB;
}

.mdl-card__title.fullwidth {
	background-color: #9343F5;
}

.dots_pb_portfolio:before {
	content: '\57';
}
.dots_pb_fullwidth_header:before {
  content: '\61';
}
.dots_pb_gallery:before {
  content: '\27';
}
.dots_card {
	width: 440px;
}
.dots_card .mdl-card__actions {
	padding: 0px !important;
}

.dots_card .mdl-card__actions table {
	width: 100%;
}

h4 {
	margin-top: 30px;
	margin-bottom: 0px;
}

h4 + p {
	margin-bottom: 35px;
}

.page-content {
	padding-left: 20px;
}

.mdl-data-table {
	white-space: initial !important;
}
.dots_save {
	float: right;
	margin-right: 89px;
}
.dots_save_wrap {
	  position: absolute;
  bottom: 0;
  right: 0;
}
.mdl-layout--fixed-tabs .mdl-layout__tab, .mdl-layout--fixed-tabs .mdl-layout__tab:focus {
	box-shadow: none !important;
}