.compi-message {
  position: relative;
  border-left-color: #B777F7 !important;
  overflow: hidden;
}

.compi-message a.button-primary,
p.compi-actions a.button-primary {
  background: #B777F7;
  border-color: #9E6FDD;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.25),0 1px 0 rgba(0,0,0,.15);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.25),0 1px 0 rgba(0,0,0,.15);
  color: #fff;
  text-decoration: none;
}

.compi-message a.button-primary:hover,
p.compi-actions a.button-primary:hover {
  background: #9E6FDD;
  border-color: #9E6FDD;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.25),0 1px 0 rgba(0,0,0,.15);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.25),0 1px 0 rgba(0,0,0,.15);
}

.compi-message a.button-primary:active,
p.compi-actions a.button-primary:active {
  background: #D6ABFF;
  border-color: #B777F7;
}

.compi-message a.docs,
.compi-message a.skip,
p.compi-actions a.docs,
p.compi-actions a.skip {
  opacity: .7;
}
